<header>
    <h1>Subscriptions</h1>
</header>
{{> nav}}
<main>
    <section>
        <h2>Browse Subscriptions</h2>
        {{!-- <a href="/subscriptions/edit">Add or Edit Subscriptions</a> --}}
        <table>
            <thead>
                <tr>
                    <th>subscriptionID</th>
                    <th>subscriptionName</th>
                    <th>startDate</th>
                    <th>costPerMonth</th>
                    <th>creditsGivenPerMonth</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each subscriptions}}
                <tr>
                    <td>{{this.subscriptionID}}</td>
                    <td>{{this.subscriptionName}}</td>
                    <td>{{this.startDate}}</td>                    
                    <td>{{this.costPerMonth}}</td>
                    <td>{{this.creditsGivenPerMonth}}</td>
                    <td><a href="/subscriptions/{{this.subscriptionID}}#update">edit</a></td>
                    <td>
                        <form action="/subscriptions/delete" method="post">
                            <input name="subscriptionID" type="number" value="{{this.subscriptionID}}" hidden>
                            <button type="submit">delete</button>
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </section>

    <section id="insert">
        <h2>Add a New Subscription</h2>
        <form action="/subscriptions/add" method="post">
            <fieldset>
                <legend>Subscription Details:</legend>
                <label for="subscriptionName">Name</label>
                <input type="text" id="subscriptionName" name="subscriptionName" required><br><br>

                <label for="startDate">Start Date</label><br>
                <input type="date" id="startDate" name="startDate" required><br><br>

                <label for="costPerMonth">Cost Per Month</label>
                <input type="number" id="costPerMonth" name="costPerMonth" min="0" required>

                <label for="creditsGivenPerMonth">Credits Given Per Month</label>
                <input type="number" id="creditsGivenPerMonth" name="creditsGivenPerMonth" min="0" required>
            </fieldset>
            <br>
            <input type="submit" value="Add Subscription">
        </form>
    </section>

    <section id="update">
        <h2>Update Existing Subscription</h2>
        <form action="/subscriptions/update" method="post">
            <fieldset>
                <legend>Update Subscription</legend>
                <label for="subscriptionID">Subscription ID</label>
                <select id="subscription" name="subscriptionID" required>
                    {{#if subData}}
                        <option value="{{subData.subscriptionID}}" selected>{{subData.subscriptionID}}</option>
                    {{else}}
                        <option value="0" selected>&nbsp;</option>
                    {{/if}}
                    {{#each subscriptions}}
                    <option value="{{this.subscriptionID}}">{{this.subscriptionID}}</option>
                    {{/each}}
                </select><br><br>

                <label for="subscriptionName">Name</label>
                {{#if subData}}
                    <input type="text" id="subscriptionName" name="subscriptionName" value="{{subData.subscriptionName}}" required><br><br>
                {{else}}
                    <input type="text" id="subscriptionName" name="subscriptionName" value="" required><br><br>
                {{/if}}

                <label for="startDate">Start Date</label><br>
                {{#if subData}}
                    <input type="date" id="startDate" name="startDate" value="{{subData.startDate}}" required><br><br>
                {{else}}
                    <input type="date" id="startDate" name="startDate" value="" required><br><br>
                {{/if}}


                <label for="costPerMonth">Cost Per Month</label>
                {{#if subData}}
                    <input type="number" id="costPerMonth" name="costPerMonth" value="{{subData.costPerMonth}}" min="0" required>
                {{else}}
                    <input type="number" id="costPerMonth" name="costPerMonth" value="" min="0" required>
                {{/if}}
                
                <label for="creditsGivenPerMonth">Credits Given Per Month</label>
                {{#if subData}}
                    <input type="number" id="creditsGivenPerMonth" name="creditsGivenPerMonth" value="{{subData.creditsGivenPerMonth}}" min="0" required>
                {{else}}
                    <input type="number" id="creditsGivenPerMonth" name="creditsGivenPerMonth" value="" min="0" required>
                {{/if}}
            </fieldset>
            <br>
            <input type="submit" value="Update Subscription">
        </form>
    </section>
</main>